* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__signup img {
  width: 20vw;
}
